<a href="https://colab.research.google.com/github/inhyeeeeee/Algorithm/blob/main/220711_%EC%B5%9C%EB%8C%80%EC%88%98_%EA%B5%AC%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 출처 : SW Expert 아카데미

# 10개의 수를 입력 받아, 그 중에서 가장 큰 수를 출력하는 프로그램을 작성하라.

# [제약 사항]
# 각 수는 0 이상 10000 이하의 정수이다.

# [입력]
# 가장 첫 줄에는 테스트 케이스의 개수 T가 주어지고, 그 아래로 각 테스트 케이스가 주어진다.
# 각 테스트 케이스의 첫 번째 줄에는 10개의 수가 주어진다.

# [출력]
# 출력의 각 줄은 '#t'로 시작하고, 공백을 한 칸 둔 다음 정답을 출력한다.
# (t는 테스트 케이스의 번호를 의미하며 1부터 시작한다.)

# 입력
# 3 
# 3 17 1 39 8 41 2 32 99 2
# 22 8 5 123 7 2 63 7 3 46
# 6 63 2 3 58 76 21 33 8 1   

# 출력
# #1 99
# #2 123
# #3 76

In [14]:
for t in range(int(input())):
  data = map(int, input().split())
  print(f'#{t+1} {max(data)}')

3
3 17 1 39 8 41 2 32 99 2
#1 99
22 8 5 123 7 2 63 7 3 46
#2 123
6 63 2 3 58 76 21 33 8 1
#3 76

In [20]:
for t in range(int(input())):
  data = map(int, input().split())
  print(f'#{t+1} {max(data)}')
  print(type(data))

3
3 17 1 39 8 41 2 32 99 2
#1 99
<class 'map'>
22 8 5 123 7 2 63 7 3 46
#2 123
<class 'map'>
6 63 2 3 58 76 21 33 8 1
#3 76
<class 'map'>

In [18]:
data = ['22', '8', '5', '123', '7', '2', '63', '7', '3', '46']
print(max(data))
print(type(data))

8
<class 'list'>

In [19]:
for t in range(int(input())):
  data = max([map(int, input().split())])  # map type 주소 출력
  print(f'#{t+1} {data}')
  print(type(data))

1
3 17 1 39 8 41 2 32 99 2
#1 <map object at 0x7efcb7262550>
<class 'map'>