<a href="https://colab.research.google.com/github/inhyeeeeee/Algorithm/blob/main/220708.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
# 출처 : SW Expert 아카데미

# 10개의 수를 입력 받아, 그 중에서 홀수만 더한 값을 출력하는 프로그램을 작성하라.


# [제약 사항]

# 각 수는 0 이상 10000 이하의 정수이다.


# [입력]

# 가장 첫 줄에는 테스트 케이스의 개수 T가 주어지고, 그 아래로 각 테스트 케이스가 주어진다.

# 각 테스트 케이스의 첫 번째 줄에는 10개의 수가 주어진다.


# [출력]

# 출력의 각 줄은 '#t'로 시작하고, 공백을 한 칸 둔 다음 정답을 출력한다.

# (t는 테스트 케이스의 번호를 의미하며 1부터 시작한다.

# 입력
# 3
# 3 17 1 39 8 41 2 32 99 2
# 22 8 5 123 7 2 63 7 3 46
# 6 63 2 3 58 76 21 33 8 1 
3
#1 200
#2 208
#3 121

3

In [ ]:
for t in range(int(input())): # 3번 반복
  data = input().split() # input 리스트 생성
  output=0
  for i in data: # data 안에서 하나씩 끄집어와
    i = int(i) # 끄집어온 데이터를 정수로 바꿔
    if i%2 == 1: # 이 정수가 홀수일 때
      output += i # 더하기
  t +=1
  print('#{} {}'.format(t, output))