<a href="https://colab.research.google.com/github/inhyeeeeee/Algorithm/blob/main/220711_%ED%8F%89%EA%B7%A0%EA%B0%92%EA%B5%AC%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
# ※ 출처 : SW Expert 아카데미

# 10개의 수를 입력 받아, 평균값을 출력하는 프로그램을 작성하라.
# (소수점 첫째 자리에서 반올림한 정수를 출력한다.)

# [제약 사항]
# 각 수는 0 이상 10000 이하의 정수이다.

# [입력]
# 가장 첫 줄에는 테스트 케이스의 개수 T가 주어지고, 그 아래로 각 테스트 케이스가 주어진다.
# 각 테스트 케이스의 첫 번째 줄에는 10개의 수가 주어진다.

# [출력]
# 출력의 각 줄은 '#t'로 시작하고, 공백을 한 칸 둔 다음 정답을 출력한다.
# (t는 테스트 케이스의 번호를 의미하며 1부터 시작한다.)

# 입력
# 3
# 3 17 1 39 8 41 2 32 99 2
# 22 8 5 123 7 2 63 7 3 46
# 6 63 2 3 58 76 21 33 8 1   

# 출력
# #1 24
# #2 29
# #3 27

In [17]:
for t in range(int(input())): # 테스트 케이스 개수 : 3번 반복
  data = input().split() # 입력 데이터 : 10개
  output=0
  for i in data: # 입력 받은 리스트에서 하나씩 빼기
    i =int(i) # i 를 정수형으로 바꾸기
    output += i # i를 더해주기
  t +=1
  print('#{} {}'.format(t,round(output/10))) # 소수점 첫째자리에서 반올림

3
3 17 1 39 8 41 2 32 99 2
#1 24
22 8 5 123 7 2 63 7 3 46
#2 29
6 63 2 3 58 76 21 33 8 1
#3 27

In [20]:
for t in range(int(input())):
  result = sum([ i for i in map(int, input().split())])/10
  print(f'#{t+1} {round(result)}')

3
3 17 1 39 8 41 2 32 99 2
#1 24
22 8 5 123 7 2 63 7 3 46
#2 29
6 63 2 3 58 76 21 33 8 1
#3 27